// Custom, iPhone Retina
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #breakpoint::after {
        content: "xs";
    }
    body {
        font-size: 10px;
    }
    #app {
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "bpms"
            "soundbank"
            "shape"
            "controls"
            "secondaryControls"
            "dotsChooser"
            "sheetToggle"
            "sheet";

    }
    #bpms {
        --border-width: 3px;
        --bpm-side: 34.5px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    #breakpoint::after {
        content: "sm";
    }
    body {
        font-size: 11px;
    }
    #app {
        grid-template-columns: auto;
        grid-template-areas:
            "header            header"
            "bpms              bpms"
            "soundbank         shape"
            "controls          controls"
            "dotsChooser       dotsChooser"
            "secondaryControls secondaryControls"
            "sheetToggle       sheetToggle"
            "sheet             sheet";
    }
    #bpms {
        --border-width: 3px;
        --bpm-side: 40px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    #breakpoint::after {
        content: "md";
    }
    body {
        font-size: 12px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    #breakpoint::after {
        content: "lg";
    }
    body {
        font-size: 15px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #breakpoint::after {
        content: "xl";
    }
    body {
        font-size: 16px;
    }
}

#breakpoint {
    position: fixed;
    top: 10px;
    left: 10px;
}
